.contact-container {
    background: var(--color-bg1);
    padding: 1rem 4rem;
    display: grid;
    grid-template-columns: 50% 60%;
    gap: 2rem;
    height: 30rem;
    margin: 10rem auto;
    border-radius: 1rem;
}

.contact-aside {
    background: var(--color-primary);
    padding: 1.5rem;
    border-radius: 1rem;
    position: relative;
    bottom: 5rem;
}

.aside-image {
    width: 12rem;
    margin-bottom: 1rem;
}

.contact-aside h2 {
    text-align: left;
    margin-bottom: 1rem;
}

.contact-aside p{
    text-align: left;
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.contact-details li{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.contact-details li h5 {
    font-size: 1rem;
}

.contact-socials {
    display: flex;
    gap: 0.8rem;
    margin-top: 3rem;
}

.contact-socials a {
    background: var(--color-bg2);
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 0.9rem;
    transition: var(--transition);
}

.contact-socials a:hover {
    color: var(--color-white);
    background: transparent;
}


/* form */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 3rem 5rem 3rem 0;
}

.form-name {
    display: flex;
    gap: 1.2rem;
}

.contact-form input[type="text"]{
    width: 50%;
}

input, 
textarea {
    width: 100%;
    padding: 0.3rem;
}

/* Start Media Query */

/* Tablets */
@media screen and (max-width: 977px) {
    .contact {
        padding-bottom: 0;
    }

    .contact-container {
        gap: 1.5rem;
        margin-bottom: 3rem;
        height: auto;
        padding: 1.5rem;
    }

    .contact-aside {
        width: auto;
        padding: 1.5rem;
        bottom: 0;
    }

    .contact-form {
        align-self: center;
    }
}


/* Mobiles */
@media screen and (max-width: 477px) {
    .contact-container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .contact-form {
        align-self: center;
        margin: 0;
    }

    .contact-aside {
        padding: 0.8rem;
    }

    input, 
    textarea {
        
        padding: 0.6rem;
}
}